.logoWrappper {
  position: relative;
  width: 200px;

}
.logoWrappper:hover .logoGreyscale {
  opacity: 0.0;
} 

.logoGreyscale {
  position: absolute;
  opacity: 1.0;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  transition: .4s;
  z-index: 1;
}

.logoColor {
  position: absolute;
  opacity: 1.0;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}