@import "styles/mixins";

.container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;

  display: flex;
  flex-direction: row;
}

.left {
  position: relative;
  width: 70%;
  height: 100%;
  z-index: 1;
  opacity: 0.0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.right {
  position: relative;
  width: 30%;
  height: 100%;
  top: 100%;
  z-index: 2;

  display: flex;
  justify-content: center;
  align-items: center;

  .title {
    @include h3_s;
    color: white;
  }
}

.label {
  color: white;  
}