// ** TEXT **
// H1
@mixin h1 {
  font-family: univia-pro, sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 38pt;
}
@mixin h1_s {
  font-family: univia-pro, sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 36pt;
}

// H2
@mixin h2 {
  font-family: univia-pro, sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 28pt;
}
@mixin h2_s {
  font-family: univia-pro, sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 24pt;
}

// H3
@mixin h3 {
  font-family: univia-pro, sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 21pt;
}
@mixin h3_s {
  font-family: univia-pro, sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 18pt;
}

// H4
@mixin h4 {
  font-family: univia-pro, sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 15pt;
}
@mixin h4_s {
  font-family: univia-pro, sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 12pt;
}

// Hero
@mixin hero {
  font-family: forma-djr-text, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 18pt;
}
@mixin hero_s {
  font-family: forma-djr-text, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 14pt;
}

// Paragraph
@mixin paragraph {
  font-family: forma-djr-text, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 12pt;
}
@mixin paragraph_s {
  font-family: forma-djr-text, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 10pt;
}